.card-wrapper {
  max-width: 1227px;
  margin: 0 auto;
  width: 100%;
  &__box {
    display: flex;
  }
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px 24px;
  gap: 16px;
  height: 104px;
  background: $base-color;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0;
  flex: 50 1 auto;
  &__left-info {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    color: $gray-900-color;
    width: 100%;
    max-width: 29%;
    &__avatar {
      border-radius: 50%;
    }
  }
  &__right-info {
    line-height: 30px;
    &__icons-wrapper {
      display: flex;
      gap: 40px;
      &--icon {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    &__availability {
      display: flex;
      flex-direction: row;
      gap: 2px;
      div {
        width: 18px;
        height: 10px;
        background: $primary-green-color;
      }
      div:first-child {
        border-radius: 8px 0px 0px 8px;
      }
    }
  }
}

.details-box {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 10px;
  border-radius: 4px;
  padding: 17px 20px;
  margin: 20px 0px 0 20px;
  &__skills {
    display: flex;
    justify-content: space-between;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
  }
  &__location {
    display: flex;
    justify-content: space-between;
    &--onsite {
      display: flex;
      align-items: end;
    }
  }
}
