.card-wrapper {
  &__box {
    display: flex;
  }
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px 24px;
  gap: 16px;
  height: 104px;
  background: $base-color;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0;
  flex: 50 1 auto;
  &__left-info {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    color: $gray-900-color;
    width: 100%;
    max-width: 29%;
    &__avatar {
      border-radius: 50%;
    }
  }
  &__right-info {
    line-height: 30px;
    &__icons-wrapper {
      display: flex;
      gap: 40px;
      &--icon {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    &__availability {
      display: flex;
      flex-direction: row;
      gap: 2px;
      div {
        width: 18px;
        height: 10px;
        background: $primary-green-color;
      }
      div:first-child {
        border-radius: 8px 0px 0px 8px;
      }
    }
  }
}

.list-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1227px;
  width: 100%;
  margin: 0 auto;
}
.persons-wrapper {
  width: 100%;
}

.details-box {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 10px;
  border-radius: 4px;
  padding: 17px 20px;
  margin: 20px 0px 0 20px;
  color: $gray-600-color;
  &__contact {
    flex: 1 1 50%;
  }
  &__employment {
    flex: 1 1 50%;
  }
  &__skills {
    display: flex;
    justify-content: space-between;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
  }
  &__location {
    display: flex;
    justify-content: space-between;
    &--city {
      flex: 1 1 50%;
    }
    &--onsite {
      display: flex;
      align-items: end;
    }
  }
  &__close {
    background-image: url(../../assets/clear2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-image: url(../../assets/clear.png);
    }
  }
  &__btn {
    background-color: transparent;
    padding: 5px 7px;
    border-radius: 4px;
    transition: none 0s ease 0s;
    border: 1px solid $primary-green-color;
    font-size: 16px;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: none;
      background-color: rgba(161, 197, 42, 0.04);
      border: 1px solid $primary-green-color;
    }
    &--arrow {
      height: 24px;
      width: 24px;
      background-image: url(../../assets/Forward.png);
    }
  }
}
