//*,html, body styles
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


$big-breakpoint: 1400px;
$small-breakpoint: 780px;

body {
    font-family: 'Roboto', sans-serif;
}
